xsd/finansprodukter/finansprodukter_v1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:innsamling:finansprodukter:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:no:skatteetaten:fastsetting:innsamling:finansprodukter:v1"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xsd:element name="melding" type="Melding" />

  <xsd:complexType name="Melding">
    <xsd:sequence>
      <xsd:element name="leveranse" type="Leveranse" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Leveranse">
    <xsd:sequence>
      <xsd:element name="kildesystem" type="Kildesystem" minOccurs="0" />
      <xsd:element name="oppgavegiver" type="Oppgavegiver" />
      <xsd:element name="inntektsaar" type="Inntektsaar" />
      <xsd:element name="oppgavegiversLeveranseReferanse" type="LeveranseReferanse" minOccurs="0" />
      <xsd:element name="leveransetype" type="Leveransetype" />
      <xsd:element name="oppgave" type="OppgaveFinansprodukter" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="sletteoppgave" type="SletteoppgaveFinansprodukter" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="oppgaveoppsummering" type="OppgaveoppsummeringFinansprodukter" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Oppgavegiver">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" />
      <xsd:element name="organisasjonsnavn" type="Organisasjonsnavn" minOccurs="0" />
      <xsd:element name="internasjonalIdentifikator" type="InternasjonalIdentifikator" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="kontaktinformasjon" type="Kontaktinformasjon" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Kontaktinformasjon">
    <xsd:sequence>
      <xsd:element name="navn" type="Kontaktnavn" minOccurs="0" />
      <xsd:element name="telefonnummer" type="Telefonnummer" minOccurs="0" />
      <xsd:element name="varselEpostadresse" type="Epostadresse" minOccurs="0" />
      <xsd:element name="varselSmsMobilnummer" type="Telefonnummer" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OppgaveFinansprodukter">
    <xsd:sequence>
      <xsd:element name="oppgaveeier" type="Oppgaveeier" />
      <xsd:element name="konto" type="Konto" />
      <xsd:element name="disponent" type="Disponent" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="reellRettighetshaver" type="ReellRettighetshaver" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="inneholderInternasjonalRapportering" type="Boolsk" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SletteoppgaveFinansprodukter">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="oppgaveeierOrganisasjonsnummer" type="Organisasjonsnummer" />
        <xsd:element name="oppgaveeierFoedselsnummer" type="Foedselsnummer" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="oppgaveeierAlternativIdentifikator" type="AlternativIdentifikator" />
      <xsd:element name="kontonummer" type="Kontonummer" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OppgaveoppsummeringFinansprodukter">
    <xsd:sequence>
      <xsd:element name="antallOppgaver" type="IkkeNegativtHeltall" />
      <xsd:element name="sumFormuesverdi" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumSkattepliktigUtbytte" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumRenteinntekt" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumAnnenInntektEllerUtbetaling" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumGevinst" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumTap" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumAnvendtSkjerming" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumUtdeltUtbytte" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="sumSalgsvederlag" type="BeloepIkkeNegativtDesimaltall" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Konto">
    <xsd:sequence>
      <xsd:element name="kontonummer" type="Kontonummer" />
      <xsd:element name="kontonummertype" type="Kontonummertype" />
      <xsd:element name="finansprodukt" type="Finansprodukt" maxOccurs="unbounded" />
      <xsd:element name="udokumentertKonto" type="Boolsk" default="false" minOccurs="0" />
      <xsd:element name="avsluttet" type="Boolsk" default="false" minOccurs="0" />
      <xsd:element name="opphoerssaldoForFatca" type="BeloepMedValuta" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Finansprodukt">
    <xsd:sequence>
      <xsd:element name="finansprodukttype" type="Finansprodukttype" />
      <xsd:element name="finansproduktnavn" type="FinansproduktNavn" />
      <xsd:element name="finansproduktID" type="FinansproduktID" minOccurs="0" />
      <xsd:element name="finansproduktIDType" type="FinansproduktIDType" minOccurs="0" />
      <xsd:element name="finansproduktOrganisasjonsnummer" type="Organisasjonsnummer" minOccurs="0" />
      <xsd:element name="finansproduktGiin" type="InternasjonalIdentifikatorverdi" minOccurs="0" />
      <xsd:element name="oppgavegiverErFinansproduktetsForvalter" type="Boolsk" minOccurs="0" />
      <xsd:element name="antall" type="IkkeNegativtDesimaltall" />
      <xsd:element name="formuesverdi" type="BeloepMedValuta" minOccurs="0" />
      <xsd:element name="skattepliktigUtbytte" type="BeloepMedValuta" minOccurs="0" />
      <xsd:element name="renteinntekt" type="BeloepMedValuta" minOccurs="0" />
      <xsd:element name="annenInntektEllerUtbetaling" type="BeloepMedValuta" minOccurs="0" />
      <xsd:element name="ukjentGevinstEllerTap" type="Boolsk" minOccurs="0" />
      <xsd:element name="gevinstEllerTap" type="GevinstEllerTap" minOccurs="0" />
      <xsd:element name="anvendtSkjerming" type="BeloepIkkeNegativtDesimaltall" minOccurs="0" />
      <xsd:element name="utdeltUtbytte" type="BeloepMedValuta" minOccurs="0" />
      <xsd:element name="salgsvederlag" type="BeloepMedValuta" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BeloepMedValuta">
    <xsd:sequence>
      <xsd:element name="beloepINOK" type="BeloepIkkeNegativtDesimaltall" />
      <xsd:element name="beloepIAnnenValuta" type="BeloepIkkeNegativtDesimaltall" minOccurs="0" />
      <xsd:element name="valutakode" type="Valutakode" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GevinstEllerTap">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="skattepliktigGevinst" type="BeloepIkkeNegativtDesimaltallEllerTom" />
        <xsd:element name="fradragsberettigetTap" type="BeloepIkkeNegativtDesimaltallEllerTom" />
      </xsd:choice>
      <xsd:sequence />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Oppgaveeier">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" />
          <xsd:element name="organisasjonsnavn" type="Organisasjonsnavn" />
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="foedselsnummer" type="Foedselsnummer" />
          <xsd:element name="bostedsland" type="Landkode" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="fornavn" type="Navn" />
          <xsd:element name="mellomnavn" type="Navn" minOccurs="0" />
          <xsd:element name="etternavn" type="Navn" />
          <xsd:element name="foedselsdato" type="Foedselsdato" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="alternativIdentifikator" type="AlternativIdentifikator" minOccurs="0" />
      <xsd:element name="internasjonalIdentifikator" type="InternasjonalIdentifikator" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="adresse" type="InternasjonalAdresse" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="internasjonalRapportering" type="InternasjonalRapporteringKontohaver" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Disponent">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" />
          <xsd:element name="organisasjonsnavn" type="Organisasjonsnavn" />
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="foedselsnummer" type="Foedselsnummer" />
          <xsd:element name="bostedsland" type="Landkode" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="fornavn" type="Navn" />
          <xsd:element name="mellomnavn" type="Navn" minOccurs="0" />
          <xsd:element name="etternavn" type="Navn" />
          <xsd:element name="foedselsdato" type="Foedselsdato" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="internasjonalIdentifikator" type="InternasjonalIdentifikator" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="adresse" type="InternasjonalAdresse" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="internasjonalRapportering" type="InternasjonalRapporteringKontohaver" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReellRettighetshaver">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" />
          <xsd:element name="organisasjonsnavn" type="Organisasjonsnavn" />
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="foedselsnummer" type="Foedselsnummer" />
          <xsd:element name="bostedsland" type="Landkode" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="fornavn" type="Navn" />
          <xsd:element name="mellomnavn" type="Navn" minOccurs="0" />
          <xsd:element name="etternavn" type="Navn" />
          <xsd:element name="foedselsdato" type="Foedselsdato" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="internasjonalIdentifikator" type="InternasjonalIdentifikator" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="adresse" type="InternasjonalAdresse" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="internasjonalRapportering" type="InternasjonalRapporteringRettighetshaver" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternasjonalIdentifikator">
    <xsd:sequence>
      <xsd:element name="identifikator" type="InternasjonalIdentifikatorverdi" />
      <xsd:element name="identifikatortype" type="InternasjonalIdentifikatortype" />
      <xsd:element name="utstedtAvLand" type="Landkode" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternasjonalAdresse">
    <xsd:sequence>
      <xsd:element name="landkode" type="Landkode" />
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="adresseStrukturert" type="InternasjonalAdresseStrukturert" />
          <xsd:element name="adresseTekstForUtskrift" type="Adressetekst" minOccurs="0" />
        </xsd:sequence>
        <xsd:element name="adresseTekst" type="Adressetekst" />
      </xsd:choice>
      <xsd:element name="adresseBrukstype" type="AdresseBrukstype" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternasjonalAdresseStrukturert">
    <xsd:sequence>
      <xsd:element name="adressenavn" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="adressenummer" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="bygning" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="boenhet" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="etasje" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="distriktsnavn" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="postboks" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="postkode" type="AdresseFelt" minOccurs="0" />
      <xsd:element name="byEllerStedsnavn" type="AdresseFelt" />
      <xsd:element name="administrativEnhet" type="AdresseFelt" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternasjonalRapporteringKontohaver">
    <xsd:sequence>
      <xsd:element name="rapporteringstype" type="InternasjonalRapporteringstype" />
      <xsd:element name="kontohavertype" type="KontohavertypeForInternasjonalRapportering" minOccurs="0" />
      <xsd:element name="mottakerland" type="Landkode" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="InternasjonalRapporteringRettighetshaver">
    <xsd:sequence>
      <xsd:element name="rapporteringstype" type="InternasjonalRapporteringstype" />
      <xsd:element name="rettighetshavertype" type="RettighetshavertypeForInternasjonalRapportering" minOccurs="0" />
      <xsd:element name="mottakerland" type="Landkode" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="AdresseBrukstype">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="bostedEllerVirksomhet" />
      <xsd:enumeration value="bosted" />
      <xsd:enumeration value="virksomhet" />
      <xsd:enumeration value="forretningsadresse" />
      <xsd:enumeration value="ukjent" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AdresseFelt">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Adressetekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AlternativIdentifikator">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="BeloepIkkeNegativtDesimaltall">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="999999999999" />
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="BeloepIkkeNegativtDesimaltallEllerTom">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:decimal">
          <xsd:minInclusive value="0" />
          <xsd:maxInclusive value="999999999999" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>

  <xsd:simpleType name="Epostadresse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="254" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FinansproduktID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FinansproduktIDType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FinansproduktNavn">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Finansprodukttype">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Foedselsdato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>

  <xsd:simpleType name="Foedselsnummer">
    <xsd:annotation>
      <xsd:documentation>Norsk fødselsnummer eller d-nummer</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IkkeNegativtDesimaltall">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="999999999999" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="IkkeNegativtHeltall">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:maxInclusive value="999999999999" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Inntektsaar">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:totalDigits value="4" />
      <xsd:minInclusive value="1000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="InternasjonalIdentifikatortype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GIIN" />
      <xsd:enumeration value="TIN" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="InternasjonalIdentifikatorverdi">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="InternasjonalRapporteringstype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FATCA" />
      <xsd:enumeration value="CRS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Kildesystem">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Kontaktnavn">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="KontohavertypeForInternasjonalRapportering">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FATCA102" />
      <xsd:enumeration value="FATCA103" />
      <xsd:enumeration value="FATCA104" />
      <xsd:enumeration value="CRS101" />
      <xsd:enumeration value="CRS102" />
      <xsd:enumeration value="CRS103" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Kontonummer">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Kontonummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="IBAN" />
      <xsd:enumeration value="OBAN" />
      <xsd:enumeration value="ISIN" />
      <xsd:enumeration value="OSIN" />
      <xsd:enumeration value="Annen" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Landkode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Z]){2}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LeveranseReferanse">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Leveransetype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ordinaer" />
      <xsd:enumeration value="ingenoppgaver" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Navn">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Organisasjonsnavn">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RettighetshavertypeForInternasjonalRapportering">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CRS801" />
      <xsd:enumeration value="CRS802" />
      <xsd:enumeration value="CRS803" />
      <xsd:enumeration value="CRS804" />
      <xsd:enumeration value="CRS805" />
      <xsd:enumeration value="CRS806" />
      <xsd:enumeration value="CRS807" />
      <xsd:enumeration value="CRS808" />
      <xsd:enumeration value="CRS809" />
      <xsd:enumeration value="CRS810" />
      <xsd:enumeration value="CRS811" />
      <xsd:enumeration value="CRS812" />
      <xsd:enumeration value="CRS813" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Telefonnummer">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Valutakode">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
