xsd/test2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="personer">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="person" type="personType"  maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="personType">
        <xsd:sequence>
            <xsd:element name="navn" type="xsd:string"/>
            <xsd:element name="alder" type="xsd:integer"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:integer" />
    </xsd:complexType>

</xsd:schema>